* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
    
    body {
    background-color: #ccc;
    font-family: 'Segoe UI',
    Tahoma,
    Geneva,
    Verdana,
    sans-serif;
    margin: 0;
    font-size: 1rem;
    line-height: 1.5;
}

header {
    background: #204051;
    border-bottom: #e8491d 3px solid;
    color: #ffffff;
    min-height: 70px;
    padding-top: 30px;
}

header a {
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
}

header li {
    display: inline;
    /* float: left; */
    list-style: none;
    padding: 0 20px 0 20px;
}

header nav {
    float: right;
    margin: 20px;
}

.current a {
    color: #e8491d;
    font-weight: bold;
}

header a:hover {
    color: #cccccc;
    font-weight: bold;
}

.container{
     width: 80%;
     margin: auto;
     overflow: hidden;
}

h1 {
    /* color: blueviolet; */
    text-align: center;
}

.p-2{
    /* background: green; */
}

@media(min-width: 768px){
    .flex-container {
        display: grid;
        grid-template-columns: 1fr 3fr;
        grid-auto-rows: minmax(100px, auto);
        /* min-height: 10px;
    padding: 5%;
    margin-left: 25%; */
        /* position: relative; */
} 
}

.love-check {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
button {
    background-color: #006a71; /*blue Lagoon*/
    border: none;
     color: white;
    font-weight: bold;
    border-radius: 5rem;
    padding: 15px 25px;
       
    margin: 60px;
     
    outline: none; 
}

.button-1{
    /* flex-basis: 10%; set width with flexbox */
    
}


#quoteDisplay,
.match{
    color: cadetblue;
    line-height: 1.5;
    font-weight: bold;
    font-size: 1.5em;
    text-align: justify;
    margin-top: 10px;
    flex-basis: 60%; /* sets width */
    padding: 10px;
}

.calculatorHeader {
    margin: 3% 0 0;
}

 .avatar1 {
    border-radius: 50%;
    width: 40%;
     /* margin: 3% 10% 0 28%;  */
    padding: 5%;
    margin-bottom: 5%; 
    
}

.avatar2 {
    border-radius: 50%;
    width: 40%;
    margin: 0 15% 5% 0%;
    padding: 5%;
    
}



#name {
    font-size: 1rem;
    outline: none;
    padding: 2%;
    margin-top: 15%;
    background-color: #ffd;
    width: 85%;
}

.match,
#show {
    padding: 5%;
    /* border: 1px solid yellowgreen; */
    /* background-color: #393e46; */
    margin: 5px;
    color: #000;

}

 

p {
    padding: 1% 5%;
    text-align: justify;
    font-size: 1rem;
    font-family: ;
}

.footer {
    background-color: #204051;
     /* margin-top: 40px; */
    padding: 20px;
    text-align: center; /* fontawesome icons*/
    color: white;
    
}

.footer p {
     text-align: center;
    
    /* margin-bottom: 20px; */
}

.fab {
    font-size: 30px;
     padding: 10px;
    color: white;
    margin: 15px 25px 0 25px; /*font awesome*/
    
    
}

a {
    display: inline-block;
    vertical-align: middle;
     
}

@media(){
    
}
    
    
/* }
.footer a {
    margin: 5px 100px;
} */

/* .heart{
    position: relative;
    width: 100px;
    height: 90px;
    margin-top: 10px;
}
.heart::before, .heart::after {
    content: "ttt";
    position: absolute;
    top: 0;
    width: 52px;
    height: 80px;
    border-radius: 50px 50px 0 0;
    background: green;
}

.heart::before {
    left: 50px;
    transform: rotate(-45deg);
    transform-origin: 0 100%;
}

.heart::after {
    left: 0;
    transform: rotate(45deg);
    transform-origin: 100% 100%;
} */

